      .container{



        height: calc(100vh - 100px);

        background-color: #d1411e;

        padding : 0px 50px;

       

        overflow: hidden;

        
      }


      .arrowContainer{

        position: absolute;

        height: 20%;

        width: 10%;

        top: 0;

        bottom: 0;

        margin: auto;

        cursor: pointer;

        z-index: 2;



      }

      .wrapper{


        width: 300vw;

        height: 100%;

        display: flex;

        transition: all 1.5s ease-in;
      }

      .imgContainer{

        width: 100vw;

        height: 100vh;

        position: relative;

        

      }

      .imgPizza{

           margin-top: 100px;
      }