.container{


    margin: auto;

    width: 100vw;

    height: 100vh;

    background-color: rgba(243, 229, 243,0.4);



}

.header{

    text-align: center;

    padding-top: 100px;

    color: teal;
}

.wrapper{

    


    display: flex;

    align-items: center;

    justify-content: center;

    margin-left: 300px;
    margin-right: 300px;

    margin-top: 100px;

    
}


.input{

    flex:9;
    padding: 20px;

    font-size: 10px;

}

.button{

   
    flex:2;
    border: none;

    background-color: teal;

    color: white;

    padding: 20px;

    font-weight: 600;

    font-size: 20px;
}