.container{

    padding: 5%;

    

    background-color: rgba(243, 229, 243,0.4);

    height: 80%;

    width: 100%;
}


.header{


    color: teal;

    margin-left: 100px;

    margin-bottom: 3%;
}

.wrapper{


    display: flex;

    justify-content: space-between;

    align-items: center;

    margin: 20px;

    margin-bottom: 60px;

    
}

.head{

    text-align: center;

    background-color: teal;

    border-bottom: 3px solid teal;

    color: white;

    padding: 10px;

    border-radius: 50%;

    height: 150px;

    width: 150px;

    display: flex;

    align-items: center;

    justify-content: center;
}

.desc{

    margin-right: 20%;

    width: 50%;

}