.container{

    display: flex;
    margin: 50px;

    height: 100vh;
    
}


.header{


    background-color: rgba(243, 229, 243,0.4);

    text-align: center;
}


.img{

    object-fit: contain;
    transition: all 1.5 ease;

    cursor: pointer;
    
}

.img:hover{


    transform: scale(1.5);
}
.wrapper{


    margin: 10px;
    position: relative;
    margin: auto;
}


.info{


    position: absolute;

    top: 0;

    left: 0;

    background-color: rgba(0, 0, 0, 0.8);

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    height: 100%;

    width: 100%;

    opacity: 0;

    transition: all 1.5s ease;

    cursor: pointer;

    
}

.desc{

    width: 50%;

    color: rgb(227, 236, 236);

    font-size: 20px;

    font-weight: bolder;

    
    line-height: 1.5;
}

.info:hover{

    opacity: 1;

    


}